@font-face {
    font-display: block;
    font-family: 'nova-icons';

    font-weight: normal;
    font-style: normal;
    src: url('@eliagroup-innersource/nova-core/dist/assets/fonts/nova-icons.woff2') format('woff2');
    descent-override: 15%;
}@font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 400;
    src: url("@eliagroup-innersource/nova-core/dist/assets/fonts/tt-norms-pro-normal.woff2") format("woff2");
    font-display: swap;
    ascent-override: 110%;
}@font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 500;
    src: url("@eliagroup-innersource/nova-core/dist/assets/fonts/tt-norms-pro-medium.woff2") format("woff2");
    font-display: swap;
    ascent-override: 110%;
}@font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 700;
    src: url("@eliagroup-innersource/nova-core/dist/assets/fonts/tt-norms-pro-bold.woff2") format("woff2");
    font-display: swap;
    ascent-override: 110%;
}

.headertext{
    display: flex;
}

.labelSamplefn{
    display: flex;
    width: 20%;
}

.labelSampleln{
    display: flex;
    margin-top: 1.4%;
    width: 20%;
    }
    

.streetaddress{
    display: flex;
    width: 42%;
}

.labelSamplecs{
    display: flex;
    width: 20%;
}

.image{
    position: relative;
    left: 19%;
}

.labelSamplepn{
    display: flex;
    width: 20%;
    
}

.labelSampleemail{
    display: flex;
    width: 20%;
    margin-top: 1.4%;
}

.hrTag{
    border-top: 1px solid lightgray;
    width: 41%;
    margin-left: 0.5%;
}